defaults/flow.json
[{"id":"17b277be.e92c18","type":"tab","label":"Simulation Dashboard","disabled":false,"info":""},{"id":"5c8d59e8.b96db","type":"ui_template","z":"17b277be.e92c18","group":"7c1eec38.6258fc","name":"Simulation UI","order":1,"width":"22","height":"10","format":"<link data-require=\"bootstrap-css@3.0.2\" data-semver=\"3.0.3\" rel=\"stylesheet\" href=\"//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css\" />\n\n<div ng-app=\"simulator\" >\n  <div>\n    <div >\n      <h2>OpenFdridge Simulation</h2>\n      <br/>\n      <p></p>\n        <table class=\"table table-hover\">\n          <thead>\n            <tr>\n              <th>Serial Number</th>\n              <th>warranty expiration</th>\n              <th>warranty expired?</th>\n              <th>Appliance Owner</th>\n              <th>owner_email</th>\n              <th>simulate event</th>\n            </tr>\n            <tbody >\n              <tr ng-repeat=\"obj in msg.payload\" id={{obj.serial}}>\n              <td>{{obj.serial}}</td>\n              <td>{{obj.warranty_expiration}}</td>\n              <td style=\"font-weight: bold;\" ng-style=\"{{obj.warranty_expired}} ? { 'color':'red' } : { 'color':'blue'   }\">{{obj.warranty_expired}}</td>\n              <td>{{obj.owner_name}}</td>\n              <td>{{obj.owner_email}}</td>\n              <td>\n                        <md-button background=\"#9ee3f900\" color=\"#fff0\" ng-init=\"instances=1\" ng-click='send({topic: \"sendEvent\" ,deviceId: obj.deviceId , payload: {appliance_serial: obj.serial,part_number: \"ES644120\",\"reading\": 14,timestamp: obj.time} })'>Emit</md-button>\n              </td>\n              </tr>\n          </tbody>\n        </table>\n      </div>\n    </div>\n  </div>\n","storeOutMessages":false,"fwdInMessages":true,"x":202,"y":298,"wires":[["d966a43b.b076d"]]},{"id":"e7e7f5a0.f09bc","type":"debug","z":"17b277be.e92c18","name":"","active":false,"console":"false","complete":"true","x":790,"y":298,"wires":[]},{"id":"9616bf2a.729738","type":"cloudant in","z":"17b277be.e92c18","name":"Get reg. dev. from db","cloudant":"f098da97.3298d","database":"appliance","service":"_ext_","search":"_all_","design":"","index":"","x":480,"y":120,"wires":[["1d7980ca.235dff"]]},{"id":"bd98ee54.d91fa","type":"debug","z":"17b277be.e92c18","name":"","active":true,"console":"false","complete":"true","x":930,"y":127,"wires":[]},{"id":"11ea27a2.37482","type":"inject","z":"17b277be.e92c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":127,"wires":[["a74a87.1fe48578"]]},{"id":"a74a87.1fe48578","type":"delay","z":"17b277be.e92c18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":127,"wires":[["9616bf2a.729738"]]},{"id":"1d7980ca.235dff","type":"function","z":"17b277be.e92c18","name":"conv. Timestamp","func":"var temp;\nvar curentDate=Math.floor(Date.now() / 1000);\nfor (var i = msg.payload.length; i--; ) {\n    if (msg.payload[i].warranty_expiration > curentDate) {\n        msg.payload[i].warranty_expired=false;\n    } else {\n        msg.payload[i].warranty_expired=true;\n    }\n    temp=format(msg.payload[i].warranty_expiration);\n    msg.payload[i].warranty_expiration=temp;\n}\n\nfunction format(timestamp) {\n  var my_date = new Date(timestamp * 1000);\n  return (my_date.getMonth() + 1) + '/' + my_date.getDate() + '/' + my_date.getFullYear();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":127,"wires":[["bd98ee54.d91fa","5c8d59e8.b96db"]]},{"id":"5d8f4f00.6b33c","type":"function","z":"17b277be.e92c18","name":"Settings for MQTT","func":"msg.payload.timestamp=Math.floor(Date.now() / 1000);\nmsg.topic=\"iot-2/evt/event/fmt/json\";\nmsg.deviceType=\"refrigerator-simulator\";\nmsg.event=\"refrigerator-simulator\";\n//msg.deviceId=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":298,"wires":[["93ac81f1.9e619","1b3697b4.a1a438","e7e7f5a0.f09bc"]]},{"id":"93ac81f1.9e619","type":"link out","z":"17b277be.e92c18","name":"send MQTT","links":["74a0e958.13ac9","dfb85ce2.cb1e08"],"x":755,"y":360,"wires":[]},{"id":"b7ff2aec.f491d","type":"ui_toast","z":"17b277be.e92c18","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1120,"y":240,"wires":[]},{"id":"1b3697b4.a1a438","type":"function","z":"17b277be.e92c18","name":"Notication message for the UI","func":"msg.topic=\"MQTT topic: \"+msg.topic;\nmsg.payload=\"MQTT msg: \"+JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":240,"wires":[["b7ff2aec.f491d"]]},{"id":"d966a43b.b076d","type":"switch","z":"17b277be.e92c18","name":"Switch cmd","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sendEvent","vt":"str"}],"checkall":"false","outputs":1,"x":390,"y":298,"wires":[["5d8f4f00.6b33c"]]},{"id":"9ad5fb07.952298","type":"debug","z":"17b277be.e92c18","name":"","active":true,"console":"false","complete":"true","x":410,"y":664,"wires":[]},{"id":"dfb85ce2.cb1e08","type":"link in","z":"17b277be.e92c18","name":"MQTT","links":["93ac81f1.9e619"],"x":95,"y":524,"wires":[["c0b3cf0a.d5e238"]]},{"id":"c0b3cf0a.d5e238","type":"switch","z":"17b277be.e92c18","name":"Switch cmd","property":"msg.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"false","outputs":3,"x":370,"y":524,"wires":[["9ad5fb07.952298","58521ac3.86fbcc"],["9ad5fb07.952298","2d2bb659.4005f2"],["721871de.a89e98","9ad5fb07.952298"]]},{"id":"721871de.a89e98","type":"mqtt out","z":"17b277be.e92c18","name":"xxxxyyyyzzzz device","topic":"iot-2/evt/refrigerator-simulator/fmt/json","qos":"0","retain":"","broker":"5a3191e8.305628","x":620,"y":580,"wires":[]},{"id":"2d2bb659.4005f2","type":"mqtt out","z":"17b277be.e92c18","name":"llllmmmmnnnn device","topic":"iot-2/evt/refrigerator-simulator/fmt/json","qos":"0","retain":"","broker":"1b80b654.df9aca","x":620,"y":524,"wires":[]},{"id":"58521ac3.86fbcc","type":"mqtt out","z":"17b277be.e92c18","name":"aaaabbbbcccc device","topic":"","qos":"","retain":"","broker":"b7db4c62.b0ff","x":620,"y":464,"wires":[]},{"id":"514a28e1.8ca05","type":"comment","z":"17b277be.e92c18","name":"Read cloudant Appliance DB","info":"","x":480,"y":170,"wires":[]},{"id":"1322b0cd.db4d47","type":"comment","z":"17b277be.e92c18","name":"UI to simulate events ","info":"","x":120,"y":50,"wires":[]},{"id":"712e3fd9.fc14b","type":"comment","z":"17b277be.e92c18","name":"Display MQTT payload","info":"","x":1140,"y":200,"wires":[]},{"id":"40c9aa93.f5c2ec","type":"comment","z":"17b277be.e92c18","name":"Send MQTT messages","info":"","x":120,"y":422,"wires":[]},{"id":"7c1eec38.6258fc","type":"ui_group","z":"17b277be.e92c18","name":"Thermostat Simulation","tab":"e471b4a3.2a9db8","disp":false,"width":"22"},{"id":"f098da97.3298d","type":"cloudant","z":"","host":"","name":"openfridge-db"},{"id":"5a3191e8.305628","type":"mqtt-broker","z":"","broker":"<orgid>.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:<orgid>:refrigerator-simulator:3","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1b80b654.df9aca","type":"mqtt-broker","z":"","broker":"<orgid>.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:<orgid>:refrigerator-simulator:2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b7db4c62.b0ff","type":"mqtt-broker","z":"","broker":"<orgid>.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:<orgid>:refrigerator-simulator:1","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e471b4a3.2a9db8","type":"ui_tab","z":"17b277be.e92c18","name":"Simulation","icon":"dashboard","order":1}]
